.p'
{

   color: rgba(85, 85, 85, 1);
   font-size: 18px;
}

.title
{
    
  font-size: 56px;
  
}

li
{
    
    list-style: ;
    color:  rgba(166, 19, 10, 1);

}

.daniel
{

    font-size: 16px;

}    

.corpo
{

    margin-right: 500px;
    margin-left: 500px;
    font-family: "open sans";
    
}

.vermelho 
{

color:rgba(166, 19, 10, 1);;

}

.link
{
 
    font-size: 13px;
    
    
}

.border
{

 border-left: 3px solid;
 padding-left: 5px;
 border-color: rgba(166, 19, 10, 1);
                                                                        
}

.data      
{

 font-size: 12px;

}

.text-information
{

top: 20px;
margin-left: 150px;
margin-right: 150px;


}
h3
{
    
    font-size: 32px;
    
}